.file-card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

.file-info {
  margin-bottom: 10px;
}

.file-info h4 {
  margin: 0;
}

.actions button {
  margin-right: 8px;
  background: #2563eb;
  color: white;
}

.actions button:nth-child(2) {
  background: #16a34a;
}

.actions button:nth-child(3) {
  background: #dc2626;
}

.actions button:nth-child(4) {
  background: #9333ea;
}